/* Add this CSS to your component's stylesheet or a separate CSS file */

/* Styling for the login container */
.container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the login form */
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* Styling for form fields and labels */
.form-group label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.login-form button[type="submit"] {
  width: 25%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  margin-left: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
  /* width: 0%; */
}

.login-form button[type="button"] {
  width: 25%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-right: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button[type="button"]:hover {
  background-color: #555;
}

/* Styling for icons */
i.fa {
  margin-right: 10px;
}

/* Center the form horizontally */
.row.justify-content-center {
  text-align: center;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .col-md-6 {
    padding: 0;
  }
}