<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="registration-form">
        <h2>Registration</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">
            <label for="name"><i class="fa fa-person"></i> Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
            <p *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.touched || registrationForm.get('name')?.dirty)">
              <span class="err" *ngIf="registrationForm.get('name')?.hasError('required')">
                Name is required
              </span>
            </p>
          </div>

          <div class="form-group">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
            <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)">
              <span class="err" *ngIf="registrationForm.get('email')?.hasError('required')">
                Email is required
              </span>
              <span class="err" *ngIf="registrationForm.get('email')?.hasError('email')">
                Invalid email format
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="phoneNo"><i class="fa fa-phone" aria-hidden="true"></i>Phone Number</label>
            <input type="tel" class="form-control" id="phoneNo" formControlName="phoneNo" placeholder="Enter your phone number">
            <p *ngIf="registrationForm.get('phoneNo')?.invalid && (registrationForm.get('phoneNo')?.touched || registrationForm.get('phoneNo')?.dirty)">
              <span class="err" *ngIf="registrationForm.get('phoneNo')?.hasError('required')">
                Phone Number is required
              </span>
              <span class="err" *ngIf="registrationForm.get('phoneNo')?.hasError('pattern')">
                Invalid phone number format (10 digits)
              </span>
            </p>
          </div>

          <div class="form-group">
            <label for="password"><i class="fa fa-lock"></i> Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
            <p *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty)">
              <span class="err" *ngIf="registrationForm.get('password')?.hasError('required')">
                Password is required
              </span>
              <span class="err" *ngIf="registrationForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long
              </span>
            </p>
          </div>

          <div class="form-group">
            <label for="confirmPassword"><i class="fa fa-shield" aria-hidden="true"></i> Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
            <div *ngIf="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.touched || registrationForm.get('confirmPassword')?.dirty)">
              <span class="err" *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
                Confirm Password is required
              </span>
              <span class="err" *ngIf="registrationForm.hasError('passwordMismatch')">
                Password and Confirm Password do not match
              </span>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
