<app-nav-bar></app-nav-bar>
<div class="homepage">
    <!-- Search section -->
    <div class="search-section">
      <div class="search-bar">
        <label>Enter Your Destined Location</label>
        <!-- Location Dropdown -->
      <div class="location-dropdown">
        <select [(ngModel)]="selectedLocation" (ngModelChange)="onLocationChange($event)">
          <option value="Kolkata">Kolkata</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Mumbai">Mumbai</option>
          <!-- Add more locations as needed -->
        </select>
      </div>
        <!-- <input type="text" [placeholder]="'Search for hotels, cabs, blogs in ' + selectedLocation" /> -->
      </div>
      <br>
      <div>
        <button class="next-button" >
          <a  routerLink="/main">Next</a>
        </button>
    </div>
  </div>
</div>

 
