<style>
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Young+Serif&display=swap');
</style>
<div class="body"></div>
<div class="forgot-password-form">
  <div class="heading-div">
    <h2><pre>FORGOT PASSWORD</pre></h2>
  </div>
  <form id="main-form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your registered email"/>
      <button type="button" class="button-n" [disabled]="!canGetOTP()" (click)="getOTP()">
        Get OTP
      </button>
    </div>

    <div class="form-group">
      <label for="otp">OTP:</label>
      <input type="text" class="form-control" id="otp" formControlName="otp"
        placeholder="Enter OTP received via email" />
      <div *ngIf="forgetPasswordForm.get('otp')!.hasError('invalidOTP')" class="error-message">
        Invalid OTP. Please try again.
      </div>
      <button type="button" class="button-n" [disabled]="!canValidateOTP()" (click)="validateOTP()">
        Validate OTP
      </button>
    </div>

    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
        placeholder="Enter your new password" required />
    </div>

    <div class="form-group">
      <label for="confirmNewPassword">Confirm New Password:</label>
      <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword"
        placeholder="Confirm your new password" required />
    </div>

    <div class="form-group">
      <button type="submit" class="button-n" [disabled]="!canSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>