.body{
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../Images/bg2.jpg);
    background-size: cover;
    height: 600px;
}
.forgot-password-form{
    padding: 40px;
    margin-top: 25px;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 37px;
    box-shadow: 5px 10px 8px #888888;
    width: 1200px;
    height: 700px;
    background-color: #ffffffd4;
    border-radius: 20px;
}
.heading-div{
    text-align: center;
}

#main-form{
    width: 800px;
    height: 450px;
}

.form-group{
    margin: 15px;
}
input{
    width: 1000px;
    border: none;
}
input:focus{
    border: none;
}
label{
    margin: 10px;
    font-weight: 500;
}
.button-n{
    margin-top: 10px;
    color: black;
    background-color: rgb(4, 211, 18);
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 40px;
    transition: 0.4s;
}
.button-n:hover{
    transform: scale(1.1);
}
.button-n:disabled{
    background-color: rgb(131, 129, 129);
    color: white;
}
.button-n:disabled:hover{
    transform: scale(1);
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 600;
}