
.hotel-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border:1px solid #ccc;
    margin:10px;
    background-color: #fff;
    border-radius: 20px;
}
.hotel-image{
    flex:0 0 auto;
    width:200px;
    height:200px;
    margin-right: 20px;
    border-radius: 20px;
}
.hotel-description{
    flex:1;
}
.book-now-button{
    flex:0 0 auto;
    background-color: #ff0000;
    color:#fff;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius: 10px;
}
.book-now-button:hover{
    background-color:#ff0000;
}
.rating{
    flex:0 0 auto;
    padding:10px 20px;
   
    margin-left: 80%;
    font-weight: bold;
    color:rgb(4, 4, 59);
}
