<app-nav-bar></app-nav-bar>
<div class="main-content" [style.background-image]="getBackgroundImage()">
    <div class="card-container">
        <div class="card">
      <img src="assets\images\hotell.jpg" alt="Hotel Image" />
      <div class="card-content">
          <button (click)="bookHotel()">Book Hotel</button>
        </div>
    </div>
  
    <div class="card">
        <img src="assets\images\cab.jpg" alt="Cab Image" />
        <div class="card-content">
            <!-- <h2>Cab Service</h2> -->
            <button (click)="bookCab()">Book Cab</button>
      </div>
    </div>
  
    <div class="card">
        <img src="assets\images\blog.jpg" alt="Blog Image" />
      <div class="card-content">
        <!-- <h2>Blog Title</h2> -->
        <button (click)="blog()">View More</button>
    </div>
</div>
</div>
  </div>

  