/* navbar.component.css */
.navbar {
  color: #fff; /* Text color */
  padding: 10px; /* Padding around the buttons */
}

/* Style for buttons in the navigation bar */
.navbar-button {
  /* background-color: #007bff;  */
  color: #1b1a1a; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Padding inside the button */
  margin-right: 10px; /* Margin between buttons */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for buttons */
.navbar-button:hover {
  background-color: darkgreen; /* Background color when hovered (selected) */
  color: #fff; /* Button text color when hovered (selected) */
}

/* Style for active button (if applicable) */
.navbar-button.active {
  background-color: #004080; /* Active button background color */
}

/* Style for disabled button (if applicable) */
.navbar-button[disabled] {
  background-color: #ccc; /* Disabled button background color */
  color: #666; /* Disabled button text color */
  cursor: not-allowed; /* Change cursor to 'not-allowed' */
}
img {
  max-width: 20%; /* Make the image responsive to its container */
  height: auto; /* Maintain the aspect ratio */
  margin-top: 10px; /* Add spacing if needed */
}
/* Add more styles as needed */
