
<div class="hotel-card" *ngFor="let hotel of hotels">
    <img src="{{hotel.image}} " alt="{{hotel.name}}" class="hotel-image">
    <div class="hotel-description">
    <h2>{{hotel.name}}</h2>
    <span class="rating">{{hotel.rating}} <i class="fas fa-star fa xs" style="color: #fcf403;"></i></span>
    <p>{{hotel.description}}</p>
    <p>{{hotel.roomDesc}}</p>
    <p>Price: <i class="fa fa-inr" aria-hidden="true"></i> {{hotel.price}}</p>
</div>
    <button (click)="bookNow(hotel)" class="book-now-button">Book Now</button>

</div>

