<div class="container">
    <div class="row">
        <h1 class="h1 text-center">GeoLocation</h1>
        <div>
            Enter the location: <input id="location" type="text" [(ngModel)] = "src" class="form-control m-3"/>  
            <br>
            Enter the destination :  <input id="destination" input type="text" [(ngModel)] = "dest" class="form-control m-3"/>
        </div>
        <br>
        <div>
            <button (click)="onClickBtn()">Calculate</button>
        </div>
        <br>
        <div>
            Calculated Distance: <input type="number" class="form-control m-3" disabled [(ngModel)] = "distance"/>KM
        </div>