<style>
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@500&family=Young+Serif&display=swap');
</style>
<app-dashboard></app-dashboard>
<div class="main-content">
  <div class="card-1">
    <div class="lift-up">
      <div class="head-container">
        <h3 class="sub-heading">BOOK A <span id="color-2">HOTEL !</span></h3>
      </div>
      <p class="content-1">
        Choose from one of the best hotels in India provided by Us. Experience the luxury and comfort along with your adventerous trip. We have a lot of features for you waiting ahead.
      </p>
      <button id="button-n" (click)="bookHotel()">Book Hotel</button>
    </div>
  </div>
  <div class="card-2">
    <div class="lift-up">
      <div class="head-container">
        <h3 class="sub-heading">GRAB A <span id="color-1">CAB !</span></h3>
      </div>
      <p class="content-2">Want to go from one place to another. Why waste your time waiting in queues for buses and autos. Why to wait more, Book a cab now and get to your destination.
      </p>
      <button id="button-n" (click)="bookCab()">Book Cab</button>
    </div>
  </div>

  <div class="card-3">
    <div class="lift-up">
      <div class="head-container">
        <h3 class="sub-heading">READ <span id="color-3">BLOGS</span></h3>
      </div>
      <p class="content-3">New Here? Dont worry we have our blogs from the locals from all across India. What are you waiting for then, go read our blogs and if you want you can write your own too.
      </p>
      <button id="button-n" (click)="blog()">View Blogs</button>
    </div>
  </div>
</div>