.container-1{
    position: relative;
    padding: 100px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
    
}

.container-1 .card{
    position: relative;
    width: 1000px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1),
                inset -5px 5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(255, 255, 255, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    background-image:url(../../../assets/images/bgblog.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container-1 .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background:rgba(195, 224, 238, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    
    
}

.container-1 .card:hover .box{
    color: black;
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: rgba(210, 208, 208, 0.719)
}

.card:hover .container-1{
    backdrop-filter: blur(50px);
}

.container-1 .card .box .content{
    padding: 20px;
    text-align: center;
}

.container-1 .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0,0,0,0.02);
    transition: 0.5s;
    pointer-events: none;
}

.container-1 .card:hover .box .content h2{
    color: rgba(0,0,0,0.05);
}

.container-1 .card .box .content h3{
    font-size: 3.5em;
    color:rgb(65, 64, 64);
    z-index: 1;
    transition: 0.5s;
}

.container-1 .card:hover .box .content h3,
.container-1 .card:hover .box .content p{

    color: black;
    font-weight: 400;
}


.container-1 .card .box .content p{
    font-size: 1.5em;
    font-weight: 300;
    color:rgb(41, 41, 41);
    z-index: 1;
    transition: 0.5s;
}

.button-n{
    background: #cc3508;
    border-radius: 10px;
    padding: 5px;
    width: 210px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02);
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: 0.4s;
}
.button-n:hover{
    transform: scale(1.1);
    background: #cf6c09e5;
}

.head{
    position: relative;
    padding: 100px;
    background: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 0 20px 0;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    flex: 1;
}
.right{
    margin-right:10px;
    font-weight: bold;
    font-size: larger;
   
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    background-color: #100254;
    border-radius: 10px;
    border-color: #100254;
}



