<p>forget-password works!</p>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="forgot-password-form">
          <h2>Forgot Password</h2>
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Enter your registered email"
              />
            </div>
  
            <div class="form-group">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="!canGetOTP()"
                (click)="getOTP()"
              >
                Get OTP
              </button>
            </div>

            <div class="form-group">
              <label for="otp">OTP</label>
              <input
                type="text"
                class="form-control"
                id="otp"
                formControlName="otp"
                placeholder="Enter OTP received via email"
              />
              <div *ngIf="forgetPasswordForm.get('otp')!.hasError('invalidOTP')" class="error-message">
                Invalid OTP. Please try again.
              </div>
            </div>

            <div class="form-group">
                <button
                    type="button"
                    class="btn btn-success"
                    [disabled]="!canValidateOTP()"
                    (click)="validateOTP()">
                    Validate OTP
                </button>
            </div>
  
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                formControlName="newPassword"
                placeholder="Enter your new password"
                required
              />
            </div>
  
            <div class="form-group">
              <label for="confirmNewPassword">Confirm New Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmNewPassword"
                formControlName="confirmNewPassword"
                placeholder="Confirm your new password"
                required
              />
              <!-- <input type="hidden" id="email" name="email"> -->
            </div>
  
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!canSubmit()"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  