.card{
    justify-content: center;
    text-align: center;
    align-items: center;
     position: relative;
    width: 90%;
    height: 50%px;
    box-shadow: inset 5px 5px 5px rgba(252, 142, 142, 0.1),
                inset -5px 5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(235, 108, 108, 0.05),
                -5px -5px 5px rgba(166, 119, 119, 0.1);
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding:20px;
    background:rgba(227, 240, 247, 0.8);
    
    
}
.search-section{
    font-size:xx-large;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: azure;
   
   
}

body{
    background-image: url("src\assets\images\blogs\blogwall.jpg");
    background-position: center center;
    background-size: cover;
    margin:0;
    padding: 0;
    height: 150vh;
   
}
.location-dropdown{
    justify-content: center;
    font-size: medium;
    
   
    
}
