<body>
<div class="search-section">
    
         <label for ="locationDropdown">Select Your Desired Location</label>
         <!-- Location Dropdown -->
         <div class="location-dropdown">
            <select [(ngModel)]="selectedLocation">
                <option value="Kolkata">Kolkata</option>
                <option value="Banglore">Bangalore</option>
                <option value="Mumbai">Chennai</option>
                <option value="Jaipur">Jaipur</option>
                <option value="Bhubaneswar">Bhubaneswar</option>
            </select>
        </div>
    </div>

  
<div class="card" *ngFor="let blog of blogs | cityFilter:selectedLocation">
   

        <h3>{{blog.title}}</h3>
        <p>By-{{blog.username}}</p>
        <p>
            {{blog.content}}
        </p>
        
    </div>

</body>

