<app-dashboard></app-dashboard>
<div class="container">
    <div class="hotel-card" *ngFor="let hotel of hotels">
        <img src="{{hotel.hotelImg}} " alt="{{hotel.hotelName}}" class="hotel-image">
        <div class="hotel-description">
            <h2>{{hotel.hotelName}}</h2>
            <span class="rating">{{hotel.hotelRating}} <i class="fas fa-star fa xs" style="color: #fcf403;"></i></span>
            <p>{{hotel.hotelDesc}}</p>
            <p>{{hotel.hotelRoomDesc}}</p>
            <p>Price: <i class="fa fa-inr" aria-hidden="true"></i> {{hotel.hotelPrice}}</p>
        </div>
        <button (click)="onClickBook(hotel.hotelId)" class="book-now-button">Book Now</button>
    </div>
</div>